.contact-bar {
    background-color: rgba(48, 117, 138, 0.13) !important; /* Converted hex to rgba for clarity */
  }
  
  .special-label {
    display: none !important;
  }
  
  .btnSend {
    width: 272.52px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #D2AF00;
    border-radius: 10px;
    color: #D2AF00;
  }
  
.form-control {
  border-radius: 5px !important;
}
  
  .bg-Contact {
    background-color: #043052;
    border-radius: 15px !important;
  }
  
  .bg-transperncy {
    background: rgba(203, 203, 199, 0.521);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  
  .newLabel {
    z-index: 99999;
    color: #fff !important;
    border-radius: 5px !important;
    font-weight: 100 !important;
  }
  
  .textAreaField {
    resize: none !important;
    height: 100px !important;
  }
  
  .leftImgContact,.rightImgContact{
    position: absolute;
    top: 0;
    height: 100%;
  }
  .leftImgContact{
    left: 0;
    
  }
  .rightImgContact{
    right: 0;
  }