.missioinAndVissionImg {
    position: absolute !important;
    right: -250px;
    top: -70px;
}

.leftMission,
.rightMission {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
}

.leftMission {
    left: -200px;
}

.rightMission {
    right: -200px;
}

.AboutTitleMain {
    font-family: 'ge-Medium';

}

.AboutTitle {
    font-family: 'ge-light';
    font-weight: 500 !important;
}