.teamTitle {
    color: #075981;
    font-family: 'ge-light' !important;
    font-size: clamp(1.25rem, 2vw + 0.5rem, 1.875rem);
    /* ~20px to 30px */
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 500 !important;
    text-align: center;
}

.teamContainer {
    padding: 100px 180px;
    padding-bottom: 0;
}

@media(max-width:992px) {
    .teamContainer {
        padding: 20px;
    }
}

.AgentName {
    font-weight: 400;
    font-size: clamp(1.125rem, 2vw + 0.5rem, 1.6875rem);
    /* ~18px to 27px */
    font-family: 'ge-Medium';
    line-height: 100%;
    letter-spacing: 0%;

    color: #075981;
}

.AgentTitle {
    color: #9A9680;
    font-weight: 300;
    font-size: clamp(0.875rem, 1vw + 0.25rem, 1.0625rem);
    /* ~14px to 17px */
    line-height: 100%;
    letter-spacing: 0%;

}

.Agentexp {
    color: #064B73;
    font-weight: lighter;
    font-family: 'ge-light';
    font-size: clamp(1rem, 1vw + 0.3rem, 1.125rem);
    /* ~16px to 18px */
    line-height: 100%;
    letter-spacing: 0%;


}

.Agentexp.foot {
    max-width: 230px;
}

.dataContent {
    border-bottom: 2px solid #bbbbbba4;
    padding: 20px;
    margin-bottom: 20px;
}

.teamImgContainer {
    position: relative;
}

.vissionimg {
    position: absolute;
    width: 500px;
    z-index: 1;
    opacity: 0.8;
    top: 0;
}

.profileImg {
    z-index: 2;
}

.DataContainer {
    margin-block: 300px;
    margin-bottom: 150px;
}

.floatCard {
    position: relative;
    top: -200px;
}

@media(max-width:992px) {
    .floatCard {
        top: 0;
    }

    .DataContainer {
        margin-block: 50px;
    }
}

.Lheight {
    line-height: 16px;
    font-weight: 300 !important;
    font-family: 'ge-light';
}