body {
    overflow-x: hidden !important;
}

.title {
    font-family: 'GE SS Two';
    font-weight: 300;
    font-size: clamp(1.5rem, 2vw + 1rem, 1.875rem);
    /* Responsive between ~24px and 30px */
    line-height: 100%;
    letter-spacing: 0%;
    color: #D8BE36
}

.MainTitle {
    color: #064B73 !important;
    font-family: 'GE SS Two';
    font-weight: 500;
    font-size: clamp(2.25rem, 5vw + 1rem, 3.3125rem);
    /* ~36px to 53px */
    line-height: 100%;
    letter-spacing: 0%;

}

.contentPurpose {
    font-family: 'ge-light';
    font-size: clamp(1rem, 2vw + 0.5rem, 1.2rem);
    /* ~16px to 20px */
    letter-spacing: 0%;
    font-weight: 300 !important;
    color: #737373;
    line-height: 20px !important;
    position: relative;
}

.contentPurpose::before {
    content: '';
    position: absolute;
    inset-inline-start: -15px;
    /* right: -15px; */
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
    height: 7px;
    background-color: #064B73;
    border-radius: 50%;
}

.PurposeContainer {
    padding: 100px 0;
    /* padding: 100px 200px; */
}

.contentContainer {
    padding: 0 180px;
}

@media(max-width:992px) {
    .PurposeContainer {
        padding: 20px;
    }

    .contentContainer {
        padding: 20px;
    }

    .floatImg {
        inset-inline-start: 23px !important;
        /* right: 23px !important; */
        height: auto !important;

    }

    .floatImg2 {
        position: relative;
        inset-inline-start: -23px !important;
        /* right: -23px !important; */
    }
}

.leftImg,
.bottomImg {
    position: absolute;
    z-index: -1 !important;
}

.bottomImg {
    bottom: 0;
    width: 100vw;
    height: 100px;
}

.leftImg {
    /* right: 5%; */
    inset-inline-start: 5%;
    top: 0;
    z-index: 98;
}

.grandparen {
    /* background: rgb(237 244 246) */
}

.floatImg {
    position: relative;
    inset-inline-start: 0px;
    /* inset-inline-start: 250px; */
    /* right: 250px; */
    z-index: 99;
    height: 400px;
    object-fit: contain;
}

.floatImg2 {
    position: relative;
    right: -250px;
}

.PurposeContainer {
    padding: 100px 250px;
}

@media (max-width: 1200px) {
    .PurposeContainer {
        padding: 80px 150px;
    }
}

@media (max-width: 992px) {
    .PurposeContainer {
        padding: 60px 20px;
    }
}

@media (max-width: 768px) {
    .PurposeContainer {
        padding: 40px 50px;
    }
}

@media (max-width: 576px) {
    .PurposeContainer {
        padding: 20px 20px;
    }
}